/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IMPORT FONTS */
@font-face { /* Google font - WorkSans*/
    font-family: 'work';
    src: url(./fonts/work.ttf)format('truetype'); 
}

/* GLOBAL CSS */
a{
    text-decoration: none;
    color: #191a23;
}

ul{
    list-style-type: none;
}

/* BODY */
body{
    font-size: 1em;
    line-height: 1.5;
    font-family: 'work';
    font-weight: normal;
    background-color: #ffffff;
    color: #191a23;
}
/* end BODY */


/*GPT*/
/************************************************/
/****************** MOBILE NAVBAR ******************/
/************************************************/

/* Mobile Header */
header.mobile-header {
    display: none; /* Only show in mobile using media queries */
}

/* Navbar Styles */
nav.mobile {
    background-color: #ffffff;
    color: #191a23;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    margin-top: 0;
    transition: 0.5s ease;
}

/*** INPUT ***/
nav.mobile input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    transition: 0.5s ease;
}

/*** LABEL ***/
nav.mobile label {
    cursor: pointer;
    display: block;
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 0.5em;
    align-items: center;
    transition: 0.5s ease;
}

nav.mobile label img{
    width: 20%;
    transition: 0.5s ease;
}

/* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: #191a23;
    border-radius: 0.05em;
    height: 0.2em;
    transition: all 0.2s ease-in-out;
    width: 1.5em;
}

#menu-icon {
    display: inline-block;
    margin: 0.4em 0;
    position: relative;
}

nav.mobile label #menu-icon {
    float: right;
}

#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
    width: 1.5em;
    transition: 0.5s ease;
}

#menu-icon:before {
    top: -0.4em;
}

#menu-icon:after {
    top: 0.4em;
}

/* Close Icon */
nav.mobile input[type=checkbox]:checked + label #menu-icon {
    background: transparent;
}

nav.mobile input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
}

nav.mobile input[type=checkbox]:checked + label #menu-icon:after {
    top: 0;
    transform: rotate(45deg);
}

/*** MENU ***/
/* Overlay */
#overlay {
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    height: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    transition: 0.5s ease;
}

nav.mobile input:checked ~ #overlay {
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s ease;
}

/* List */
nav.mobile h2 {
    font-size: 1em;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    font-family: 'work';
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

nav.mobile input:checked ~ h2 {
    margin: 1em;
    max-height: 2em; /* Set specific height for expanded state */
    opacity: 1;
    padding-top: 2em;
    color: #191a23;
}

/* Horizontal Rule */
nav.mobile hr {
    border-color: black;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    transition: opacity 0.3s ease;
}

nav.mobile input:checked ~ hr {
    opacity: 1;
    margin: 1em 100px;
}

/* List Items */
nav.mobile ul {
    font-size: 1em;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0em;
    text-align: center;
    transition: 0.5s ease;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

nav.mobile input:checked ~ ul {
    margin: 1em;
    max-height: 15em; /* Set specific height */
    opacity: 1;
    transition: 0.5s ease;
}

nav.mobile li{
    background-color: #ffff;
    color: #191a23;
    transition: 0.5s ease;
}

nav.mobile ul > li {
    margin: 0.5em 0;
    margin-left: 4em;
    margin-right: 4em;
    line-height: 2em;
    border-radius: 12px;
    font-weight: 400;
    transition: 0.5s ease;
}

nav.mobile ul a {
    color: #191a23 !important;
    text-decoration: none;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    transition: 0.5s ease;
}

nav.mobile ul a:hover {
    text-decoration: 4px solid underline #b9ff66;
}

/* end MOBILE NAVBAR */



/* NAVBAR */
nav.desk-navbar{
    background-color: #ffffff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em; /* the 3em will serve as the margin */
    margin: 0; 
    transition: 0.5s ease;
}

div.logo .img-logo { /* logo img */
    width: 70%;
    height: auto;
}

div.nav-items a{
    margin-left:1.5em;
    transition: 0.5s ease;
}

div.nav-items a:hover{
    text-decoration: 3px underline #b9ff66 ;
}

div.nav-items a:active{
    text-decoration: 3px underline #b9ff66 ;
}

div.nav-items .quote-btn{ /* a button */
    border: 1px solid #191a23;
    padding: 0.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 10px;
    transition: 0.5s ease;
    background-color: #f3f3f3;
    transition: border-bottom 0.1s;
}

.nav-items .quote-btn:hover{
    text-decoration: none; /* to remove underline */
    background-color: #b9ff66;
    border-bottom: 4px solid #191a23;
}

.nav-items .quote-btn:active{
    text-decoration: none; /* to remove underline */
    background-color: #b9ff66;
    border-bottom: 4px solid #191a23;
}
/* end NAVBAR */




/* HERO */
div.hero{
    padding: 4em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    margin-top: 7vh;
}

div.hero-text{  /* text section container */
    width: 50%;
}

div.hero-text h1{
   margin-bottom: 0.1em;
}

div.hero-text p{
    margin-top: 0.7em;
    margin-bottom: 2em;
    padding-right: 2em;
 }

a.book-btn{
    background-color: #191a23;
    color: #ffffff;
    border-bottom: 0px solid #191a23;
    padding: 0.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 10px;
    transition: 0.5s ease;
    transition: border-bottom 0.1s;
}

a.book-btn:hover{
    text-decoration: none; /* to remove underline */
    border-bottom: 4px solid #b9ff66;
    outline: 1px solid #191a23;
}

div.hero-img{
    width: 45%;
}

div.hero-img img{
    width: 80%;
    height: auto;
}

div.mobile-img{
    width: 100%;
    justify-content: center;
    text-align: center;
    display:none
}
/* end HERO */



/* SERVICES */

/* Service heading box */
div.services{
    padding: 4em;
    padding-bottom: 0.5em;
}

div.service-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.service-head{
    background-color: #b9ff66;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 10px;
    border: 1px solid #191a23;
    margin-right: 1em;
}

div.service-content{
    text-align: left;
}
/* end Service heading box */

/* service boxes*/
div.service-box-container{
    padding: 2em;
    padding-top: 1em;
}

div.box-row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
}

div.box{
    border: 1px solid #191a23;
    border-radius: 20px;
    width: 47%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

div.box2{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.box-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.learn-more{
    display: flex;
    align-items: center;
}

div.learn-more img{
    width: 20%;
    margin-right: 0.5em;
}

/*service card variation */
.box-x{
    background-color: #d9d9d9;
}

.box-y{
    background-color: #b9ff66;
}

.box-z{
    background-color: #191a23;
}


.header-x{
    background-color: #b9ff66;

}

.header-y{
    background-color: #f3f3f3;
}

.header-z{
    background-color:#191a23 ;
}

.learn-white {
    color: #f3f3f3;
}

/* end SERVICES */




/* PROPOSAL */
.proposal{
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
}

div.proposal{
    background-color: #d9d9d9;
    border-radius: 10px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.proposal-text{
    width: 80%;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    height: auto;
}

div.proposal-text p{
    margin-bottom: 1em;
}

.proposal-btn {
    border: 1px solid #191a23;
    padding: 0.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 10px;
    transition: 0.5s ease;
    background-color: #191a23;
    color: #f3f3f3;
    transition: border-bottom 0.1s;
}

.proposal-btn:hover{
    text-decoration: none; /* to remove underline */
    border-bottom: 4px solid #b9ff66;
    outline: 1px solid #191a23;
}

div.proposal-img{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.proposal-img img{
    width: 50%;
    height: auto;
}
/* end PROPOSAL */


/* TEAM */

/* team -headind section / intro */
div.team{
    padding: 4em;
    padding-bottom: 0.5em;
}

div.team-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break:keep-all;
}

div.team-head{
    background-color: #b9ff66;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 10px;
    border: 1px solid #191a23;
    margin-right: 1em;
}

div.team-content{
    text-align: left;
}

/* team box section */
.team-box-container{
    padding: 4em;
}

.team-box-row{
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-mem-box{
    display: flex;
    flex-direction: column;
    border: 1px solid #191a23;
    border-radius: 20px;
    width: 32%;
    padding: 2em;
    justify-content: space-between;
}

.team-mem-box hr{
    border: 1px solid #191a23;
}

div.person{
    margin-bottom: 1em;
}
div.person img{
    width: 80%;
}
div.talk{
    margin-top: 1em;
}

/* end team heading box */

/* end TEAM */


/* newsletter */
/* PROPOSAL */
.newsletter-container{
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 0em;
    padding-bottom: 2em;
}

div.newsletter{
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.newsletter-text{
    width: 100%;
    padding-top: 0em;
    padding-bottom: 1.5em;
    height: auto;
}

div.newsletter-text p{
    margin-bottom: 1em;
}

/* end PROPOSAL */


/* FOOTER */
div.footer{
    margin-top: 2em;
    color: #ffffff;
    text-align: center;
    background-color: #191a23;
    padding: 2em;
}

div.footer p{
    font-size:0.75em;
    line-height: 2em;
}

div.footer img{
    width: 10%;
    margin: 1em;
}
/* end FOOTER */



    /* UTILITIES */
.text-xl{
    font-weight: 900;
    font-size: 2.8em;
}

.text-l{
    font-weight: 600;
    font-size: 2em;
}
 
.text-ml{
    font-weight: 600;
    font-size: 1.5em;
}

.text-sl{
    font-weight: 500;
    font-size: 1.2em; 
}

.text-m{
    font-weight:normal;
    font-size: 1em;
}


